 center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
 }
 
 /* Text Settings */
p-1 {
  font-family: 'Roboto', sans-serif;
  font: weight 100px;;
  font-size: 13px;
}
p-3 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight:700;
  user-select: none;
}